@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400&display=swap&family=Source+Code+Pro:wght@200');

:root {
  --dark-bg: #191919;
  --light-fg: #C66CB7;
  --unfocused-fg: #C66CB7;
  --dark-fg: #8F3881;
  --accent-1: #e44ecc;
}
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: var(--light-fg);
}

.display-1 {
  color: var(--accent-1);
  margin-bottom: 1em;
  font-weight: 100 !important;
}

.display-1 > small {
  font-family: monospace;
  color: var(--accent-1);
  font-size: 0.35em;
  margin-bottom: 1em;
  font-weight: 100 !important;
  font-family: 'Source Code Pro', monospace;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: var(--dark-bg);
}

header, main, footer {
  display: none;
}

html, body, .lead {
  font-family: 'Montserrat Alternates', sans-serif !important;
  font-weight: 300 !important;
}

.lead {
  font-weight: 400 !important;
}

strong {
    font-weight: 400 !important;
    text-decoration: underline;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 0 10rem rgba(0, 0, 0, 1);
}

.cover-container {
  max-width: 70em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: var(--unfocused-bg);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgba(255, 255, 255, 0.75);
  border-bottom-color: var(--light-fg);
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    /*float: right;*/
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .2);
}
